<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/spring-conf.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
	  	</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.assaassociates.syraway.proto.TestServlet</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/Syraway.exts</url-pattern>
	</servlet-mapping>
</web-app>