<?xml version="1.0"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/spring-*.xml</param-value>
	</context-param>
	
	<listener>
    	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	
	

	<!-- <context-param> -->
	<!-- <param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name> -->
	<!-- <param-value>true</param-value> -->
	<!-- </context-param> -->
<!---->
	<!-- <context-param> -->
	<!-- <param-name>javax.faces.DEFAULT_SUFFIX</param-name> -->
	<!-- <param-value>.xhtml</param-value> -->
	<!-- </context-param> -->
<!---->
	<!-- <context-param> -->
	<!-- <param-name>org.richfaces.SKIN</param-name> -->
	<!-- <param-value>blueSky</param-value> -->
	<!-- </context-param> -->
<!---->
	<!-- <context-param> -->
	<!-- <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name> -->
	<!-- <param-value>com.sun.facelets.FaceletViewHandler</param-value> -->
	<!-- </context-param> -->
<!---->
	<!-- <context-param> -->
	<!-- <param-name>org.richfaces.LoadScriptStrategy</param-name> -->
	<!-- <param-value>ALL</param-value> -->
	<!-- </context-param> -->
<!---->
	<!-- <filter> -->
	<!-- <display-name>RichFaces Filter</display-name> -->
	<!-- <filter-name>richfaces</filter-name> -->
	<!-- <filter-class>org.ajax4jsf.Filter</filter-class> -->
	<!-- </filter> -->
<!---->
	<!-- <filter-mapping> -->
	<!-- <filter-name>richfaces</filter-name> -->
	<!-- <servlet-name>Faces Servlet</servlet-name> -->
	<!-- <dispatcher>REQUEST</dispatcher> -->
	<!-- <dispatcher>FORWARD</dispatcher> -->
	<!-- <dispatcher>INCLUDE</dispatcher> -->
	<!-- </filter-mapping> -->

	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	<!-- -->
	<!-- <listener> -->
	<!-- <listener-class> -->
	<!-- org.springframework.web.util.IntrospectorCleanupListener -->
	<!-- </listener-class> -->
	<!-- </listener> -->
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Change to "Production" when you are ready to deploy -->
	<!-- <context-param> -->
	<!-- <param-name>javax.faces.PROJECT_STAGE</param-name> -->
	<!-- <param-value>Development</param-value> -->
	<!-- </context-param> -->

	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- JSF mapping -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map these files with JSF -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.assaassociates.syraway.proto.TestServlet</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/Syraway.exts</url-pattern>
	</servlet-mapping>
	
	<filter>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
	  <dispatcher>FORWARD</dispatcher>
	  <dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	

</web-app>