#page {
width:1024px;
margin: 0 auto;
}
#header {
margin:3 auto;
text-align:left;
font-size:25px;
background-color: #6495ED;
height: 100px;
}
#footer {
text-align:center;
background-color: #32CD32;
height: 20px;
}
#menu  {
/*float:left;*/
position: absolute;
width: 170px;
height:440px;
background-color: #778899;
font-size: medium;
}
#content {
text-align:center;
margin-left:170px;
height:440px;
}
