#page {
width:740px;
margin:0 auto;
}
#header {
text-align:center;
background-color:#b3c4fe;
}
#footer {
text-align:center;
background-color:#bfc4de;
}
#menu  {
/*float:left;*/
position: absolute;
width: 170px;
}
#content {
margin-left:170px;
}
